*.pyc
*.pdf
*.tlog
*.idb
*.opendb
*.sdf
*.enc
*.iobj
*.ipdb
*/.vscode/*
*.txt
*.db
*ubyte
*.res
*.xml
*.lastcodeanalysissucceeded
*.i
*.exp
*.vspx
*.diagsession
neural/work/openblas_haswell_lib/
neural/lib/sdl2/
