*.pyc
*.pdf
*.tlog
*.idb
*.opendb
*.sdf
*.enc
*.iobj
*.ipdb
*/.vscode/*
*.txt
*.db
*ubyte
*.res
*.xml
*.lastcodeanalysissucceeded
*.i
*.exp
*.vspx
*.diagsession
*/work/openblas_haswell_lib/
*/include/SDL2/
*.zip
